# Code

In [1]:
import pandas as pd
# load dataset
pd.set_option('display.max_columns', 21)
df = pd.read_csv('datasets/kc_house_data.csv')

In [2]:
# prepare data
df.drop('id', axis=1, inplace=True)
df.drop('date', axis=1, inplace=True)
df.drop('zipcode', axis=1, inplace=True)
df.drop('lat', axis=1, inplace=True)
df.drop('long', axis=1, inplace=True)
df.head()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15
0,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,1340,5650
1,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,1690,7639
2,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,2720,8062
3,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,1360,5000
4,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,1800,7503

In [3]:
# split data between train and test
X = df.drop('price', axis=1)
y = df['price']

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=58)

In [4]:
def models_regression(a, b , c, d):
  from sklearn.linear_model import LinearRegression, Ridge, Lasso, ElasticNet
  X_train = a
  y_train = b
  X_test = c
  y_test = d
  regression = LinearRegression()
  ridge = Ridge()
  lasso = Lasso()
  elastic = ElasticNet()

  regression.fit(X_train, y_train)
  ridge.fit(X_train, y_train)
  lasso.fit(X_train, y_train)
  elastic.fit(X_train, y_train)

  score_regression = regression.score(X_test, y_test)
  score_ridge = ridge.score(X_test, y_test)
  score_lasso = lasso.score(X_test, y_test)
  score_elastic = elastic.score(X_test, y_test)

  print(
   f"Linear Regression: {score_regression}\nRidge Regression: {score_ridge}\nLasso Regression: {score_lasso}\nElastic Regression: {score_elastic}"
  )

In [5]:
models_regression(X_train, y_train, X_test, y_test)

/home/uemerson/Projects/didatica-tech-course/venv/lib/python3.10/site-packages/sklearn/linear_model/_coordinate_descent.py:648: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 3.672e+14, tolerance: 2.309e+11
  model = cd_fast.enet_coordinate_descent(

Linear Regression: 0.6520064037914723
Ridge Regression: 0.6520127996246292
Lasso Regression: 0.6520070893228993
Elastic Regression: 0.6155867408213925

/home/uemerson/Projects/didatica-tech-course/venv/lib/python3.10/site-packages/sklearn/linear_model/_coordinate_descent.py:648: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 4.695e+14, tolerance: 2.309e+11
  model = cd_fast.enet_coordinate_descent(