# Notes
ElasticNet: Linear regression with combined L1 and L2 priors as regularizer.

# Code

In [1]:
import pandas as pd
# load dataset
pd.set_option('display.max_columns', 21)
df = pd.read_csv('datasets/kc_house_data.csv')

In [2]:
# prepare data
df.drop('id', axis=1, inplace=True)
df.drop('date', axis=1, inplace=True)
df.drop('zipcode', axis=1, inplace=True)
df.drop('lat', axis=1, inplace=True)
df.drop('long', axis=1, inplace=True)
df.head()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15
0,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,1340,5650
1,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,1690,7639
2,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,2720,8062
3,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,1360,5000
4,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,1800,7503

In [3]:
# split data between train and test
X = df.drop('price', axis=1)
y = df['price']

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=14)

In [4]:
from sklearn.linear_model import LinearRegression
model_linear_regression = LinearRegression()
model_linear_regression.fit(X_train, y_train)
score = model_linear_regression.score(X_test, y_test)
print(score)

0.653809419628095

In [5]:
from sklearn.linear_model import Lasso
model_lasso = Lasso(alpha=1000, max_iter=5000, tol=0.1)
model_lasso.fit(X_train, y_train)
score = model_lasso.score(X_test, y_test)
print(score)

0.6547706041742776

In [6]:
from sklearn.linear_model import ElasticNet
model_elastic_net = ElasticNet(alpha=1, l1_ratio=0.9, tol=0.2, max_iter=5000)
model_elastic_net.fit(X_train, y_train)
score = model_elastic_net.score(X_test, y_test)
print(score)

0.6429961330013113